#header #nav{
    margin-top: 0.4rem;
}

.article-tag::before, .article-category::before{ 
   content: "";
}

.article-read-time::before{ 
   content: "|";
   margin-right: 0.5rem;
}

article header .meta {
    margin-top: 0.4rem;
}

.article-tag{
    display: block;
    margin-bottom: 0.4rem;
}

.h1{
    margin-top: 1rem !important;
}